.ytp-cued-thumbnail-overlay-image, img {
  max-width: 100%;
  height: auto;
}

pre {
  /*border: 1px solid black;*/
  /*word-wrap: break-word;*/
  /*white-space: pre-wrap;*/
  margin: 0.85rem 0;
  padding: 1rem;
  border-radius: 6px;
  line-height: 1.4;
  overflow: auto;
}
