#files {
  position: fixed;
  left: 0;
  top: 25px;
  display: inline-block;
  width: 20vw;
  height: 100vh;
  vertical-align: top;
  padding-left: 0;
  overflow: auto;
  margin: 0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, .15);
}

#files li {
  list-style: none;
}

#files li.hide {
  display: none;
}

#files ul {
  padding-left: 12px;
}

#files li.selected {
  font-weight: bolder;
}

#files li.parent.close::before {
  content: "▷"
}

#files li.parent.open::before {
  content: "▽"
}

#files li.parent li:not(.parent) {
  margin-left: 15px;
}

#content {
  margin: 0 0 0 22vw;
  display: inline-block;
  min-height: 100vh;
  width: 52vw;
  vertical-align: top;
}

#content.other {
  width: 75vw;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  padding-top: 45px;
  margin-top: -45px;
}

#nav {
  margin: 0;
  display: inline-block;
  position: fixed;
  right: 0;
  width: 20vw;
  height: 100vh;
  vertical-align: top;
  padding-left: 0;
  overflow: auto;
}

#nav.other {
  display: none;
}

#nav a {
  text-decoration: none;
}

#nav li {
  list-style: none;
}

#nav ul {
  padding-left: 12px;
}

#nav li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

#nav li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  border: 1px solid black;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#fileSearchInput {
  margin: 10px;
  height: 26px;
}

#allFileSearch {
  position: fixed;
  height: 60%;
  width: 60%;
  top: 30%;
  left: 30%;
  z-index: 3;
}

#allFileSearch.hide {
  visibility: hidden;
}

#showView {
  height: 60%;
  width: 60%;
  text-justify: auto;
  overflow: auto;
  z-index: 100;
  background-color: #FFFFFF;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 6px #22221b;
  -moz-box-shadow: 0px 0px 6px #22221b;
  box-shadow: 0px 0px 6px #22221b;
}


.card-header {
  font-size: 12px;
  border-left: 3px solid #0068d7;
  padding-bottom: 0;
  font-weight: bolder;
}

.card:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.card-body {

}

.card-text {
  margin: 6px;
  font-size: 12px;
}

#allFileSearchInput {
  width: 60%;
  margin: 10px 20px;
  height: 25px;
}

#shadow {
  width: 100vw;
  height: 100vh;
  background-color: #000000c7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

div.top {
  width: 100vw;
  height: 45px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);;
  position: sticky;
  top: 0;
}

#topTitle {
  float: right;
  font-size: 20px;
  font-weight: bolder;
  margin: 8px;
}